<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8"/>
	</system.web>

	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Usuario">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="gisBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<webHttpBinding>
				<binding name="webHttpBinding_Usuario"
						 maxReceivedMessageSize="2147483647"
						 maxBufferPoolSize="2147483647"
						 maxBufferSize="2147483647"
						 closeTimeout="00:03:00"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:03:00">
					<readerQuotas maxDepth="2147483647"
								  maxStringContentLength="2147483647"
								  maxArrayLength="2147483647"
								  maxBytesPerRead="2147483647"
								  maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</webHttpBinding>
		</bindings>

		<services>
			<service behaviorConfiguration="gisBehavior" name="Service.Usuario">
				<endpoint address=""
						  behaviorConfiguration="Usuario"
						  binding="webHttpBinding"
						  bindingConfiguration="webHttpBinding_Usuario"
						  contract="Interface.IUsuario"/>
			</service>
		</services>

		<serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
